@mixin border-radius($size:5px){
    border-radius: $size !important;
    -webkit-border-radius: $size !important;
    -moz-border-radius: $size !important;
    -o-border-radius: $size !important;
}
@mixin border-box-shadow($color:#000000){
    -webkit-box-shadow: -1px 4px 26px 11px $color;
    -moz-box-shadow: -1px 4px 26px 11px $color;
    box-shadow: -1px 4px 26px 11px $color;
}